* {
  box-sizing: border-box; }

html {
  font-family: Helvetica, sans-serif;
  margin: 0 max(1rem, 10vw); }

h1, h2, h3, h4, h5.h6 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace; }

nav {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  nav > * {
    display: inline-block;
    text-align: center;
    flex-grow: 1; }
  nav .title {
    flex-grow: 0;
    position: relative; }
    nav .title > * {
      display: inline-block; }
    nav .title div {
      margin: 0 1rem; }
    nav .title #java {
      max-height: 6rem;
      border-radius: 20%;
      box-shadow: #00aeff 0.3rem 0.3rem 0px, #ae00ff -0.3rem 0.1rem 0px, #ffae00 0.2rem -0.3rem 0;
      border: 0.05rem solid #fff;
      max-width: 6rem;
      margin: 0 2rem; }
  nav a {
    color: black;
    text-decoration: underline;
    text-decoration-color: lightgrey; }
    nav a:hover {
      text-decoration-color: black; }
  nav h1 a:hover {
    text-decoration: dashed underline; }
  nav h3 {
    color: gray; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      padding: 0.3rem 1rem; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #ffbacc 13%, #9ea9ff 100%); }

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 0px; }
