@charset "UTF-8";
::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #ffbacc 13%, #9ea9ff 100%); }

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 0px; }

body {
  overflow-y: scroll; }

* {
  box-sizing: border-box; }

.center {
  text-align: center; }

html {
  font-family: Helvetica, sans-serif;
  max-width: 90em;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5.h6 {
  text-align: center;
  font-family: "Courier New", Courier, monospace; }

nav {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  nav > * {
    display: inline-block;
    text-align: center;
    flex-grow: 1; }
  nav .title #java {
    max-width: 6rem;
    margin: 0 2rem; }
  nav a {
    color: black;
    text-decoration: underline;
    text-decoration-color: lightgrey; }
    nav a:hover {
      text-decoration-color: black; }
  nav h1 a:hover {
    text-decoration: dashed underline; }
  nav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      padding: 0.3rem 1rem; }
  nav ul#social {
    right: 0; }
    nav ul#social li {
      padding: 0.2rem; }
      nav ul#social li a {
        display: inline-block; }
        nav ul#social li a img {
          filter: grayscale(1);
          width: 1em;
          height: 1em;
          display: inline-block; }

main {
  max-width: 60em;
  margin: 0 auto; }

.grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center; }
  .grid .tile {
    display: inline-block;
    height: 20em;
    width: 20em;
    border: 1px solid darkgrey;
    margin: 0.3rem;
    padding: 1rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, background 2s;
    position: relative;
    overflow: hidden; }
    .grid .tile img {
      max-height: 40%;
      display: block;
      margin: 0 auto;
      filter: grayscale(0.5); }
    .grid .tile:visited, .grid .tile:hover, .grid .tile:focus, .grid .tile:hover, .grid .tile:active {
      text-decoration: none;
      color: inherit; }
    .grid .tile::after {
      content: "→";
      bottom: 1rem;
      opacity: 0;
      position: absolute;
      transition: transform 4s, opacity 2s;
      transform: translateX(-100%);
      display: inline-block;
      text-align: center;
      font-size: 2rem; }
    .grid .tile:hover {
      background-color: rgba(0, 0, 0, 0);
      transform: translateY(-0.2rem); }
      .grid .tile:hover::after {
        transform: translateX(50%);
        opacity: 0.5; }

#email-list input {
  border: 1px solid grey;
  border-radius: 0;
  background: none;
  color: black;
  text-transform: uppercase;
  padding: 1em; }
  #email-list input:focus, #email-list input:active {
    border: 1px solid black;
    border-radius: 0;
    outline: none; }

#table-of-contents ul li a {
  text-decoration: underline; }
  #table-of-contents ul li a:hover {
    text-decoration: none; }

a {
  color: inherit; }
