::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #ffbacc 13%, #9ea9ff 100%); }

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 0px; }

* {
  box-sizing: border-box; }

.center {
  text-align: center; }

html {
  font-family: Helvetica, sans-serif;
  margin: 0 max(1rem, 10vw); }

h1,
h2,
h3,
h4,
h5.h6 {
  text-align: center;
  font-family: "Courier New", Courier, monospace; }

nav {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  nav > * {
    display: inline-block;
    text-align: center;
    flex-grow: 1; }
  nav .title #java {
    max-width: 6rem;
    margin: 0 2rem; }
  nav a {
    color: black;
    text-decoration: underline;
    text-decoration-color: lightgrey; }
    nav a:hover {
      text-decoration-color: black; }
  nav h1 a:hover {
    text-decoration: dashed underline; }
  nav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      padding: 0.3rem 1rem; }
  nav ul#social {
    right: 0; }
    nav ul#social li {
      padding: 0.2rem; }
      nav ul#social li a {
        display: inline-block; }
        nav ul#social li a img {
          filter: grayscale(1);
          width: 1em;
          height: 1em;
          display: inline-block; }
