<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.css" />
    <title>{{title}}</title>
</head>

<body>
    <div id="scroll-container" style="display: flex;">
        <a href="/" class="nametag flex-item">Java Grant</a>
        <div id="scrolling-bar">
            <ul class="moving-text">
                {{blogs}}
            </ul>
        </div>
    </div>
    {{page}}
</body>

</html>