* {
  box-sizing: border-box;
  text-align: center;
}
body {
  margin: 0;
  font-size: 1.05em;
}
body > input {
  display: none;
}
body > .grid {
  min-height: 100vh;
  min-width: 100vw;
}
.item {
  /* border: 1px dashed black; */
  /* margin: 1rem; */
  padding: 1rem;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: stretch;
  justify-content: center;
}
.grid.h {
  flex-direction: row;
  flex-wrap: wrap;
}
.grid.v {
  flex-direction: column;
}
.grid.c {
  align-items: center;
}
.item {
  /* padding: 1rem; */
  /* background-color: rgba(0, 0, 0, 0.4); */
  flex-grow: 10;
  /* flex-shrink: 10; */
  margin: 0;
  overflow: hidden;
  flex-basis: content;
}
img.item {
  max-width: 30vw;
  max-height: 30vh;
  /* height: 100%; */
}

img {
  object-fit: scale-down;
  /* max-height: 50vh; */
  /* max-width: 100%; */
}
.w100 {
  min-width: 100%;
}
[category="illustration"] > *:last-child::after {
  content: "an illustration";
  display: block;
  margin-top: 0;
}
[category="blog"] > *:last-child::after {
  content: "a blog post";
  display: block;
  margin-top: 0;
}

label {
  color: blue;
  text-decoration: underline;
}
#all:checked ~ * label[for="all"],
#illustration:checked ~ * label[for="illustration"],
#blog:checked ~ * label[for="blog"] {
  text-decoration: none;
  color: black;
}

[value="blog"]:checked ~ * .item[category]:not([category~="blog"]),
[value="illustration"]:checked
  ~ *
  .item[category]:not([category~="illustration"]) {
  display: none;
}

[value="all"]:checked ~ .item[category] {
  display: block;
}
.line > * {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  /* width: 100%; */
}
img.item {
  min-height: 15rem;
}
