extends ./template/main.pug
block content
  #links
    //- a(href='/art')
    //-   | see art
    a(href='/contact')
      | get in touch
    //- a(href='/blog')
    //-   | read thoughts
    a(href='/resume')
      | accomplishments