extends ../template/main.pug
block content
  h1 You can contact and find me in the following places
  #links.pink
    a(target='_blank' href='mailto:java@javagrant.com')
      | java@javagrant.com
    a(target='_blank' href='https://twitter.com/thatdudejava')
      | twitter
    a(target='_blank' href='https://instagram.com/orangejaffas')
      | instagram
    a(target='_blank' href='https://youtube.com/javagrant')
      | youtube