mixin layer(tree, root, top)
  .gallery-grid
    if (tree.name && !top)
      a.gallery-subtitle(href='/'+root+'/'+tree.route.join('/'))
        h3(id=tree.name)=tree.name
    else if (tree.name)
      h3.gallery-subtitle=tree.name
    for child in tree.children
      if (child.type == 'file')
        a(href='/'+child.large_route.join('/'))
          img(src='/'+child.thumb_route.join('/') loading="lazy")
      else
        if (tree.type == 'directory')
          +layer(child, root)

style
  | !{css}
#gallery
  if (tree.parent)
    a(href='/'+root) Return
  ul#gallery-links
    if (tree.children)
      - const sub_galleries = Object.values(tree.children).filter(x=>x.type == 'directory')
      if (sub_galleries.length)
        span Jump to:
        for entry in sub_galleries
          a(href='#'+entry.name)=entry.name
  +layer(tree, root, true)

