::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 0px;
}

* {
    box-sizing: border-box;
    /* margin: 0; */
}

*::selection {
    color: rgb(54, 0, 90);
    background-color: rgba(67, 0, 112, 0.15);
}

body {
    font-family: 'Atkinson Hyperlegible', 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(248, 248, 248);
    margin: 0;
    -webkit-print-color-adjust: exact !important;
}

#title {
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: max(min(4rem, 10vw), 1.5em);
    margin: 0;
    padding: 1rem;
    display: block;
    color: black;
}

/* a,
a:active,
a:visited {
    color: inherit;
} */

#roller {
    background: -webkit-linear-gradient(30deg, rgb(85, 208, 224), rgb(166, 89, 253));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#roller::after {
    content: '.';
}

main {
    flex-grow: 1;
    padding: 1rem;
    max-width: 50em;
    width: 100%;
    margin: 0 auto;
}

#links {
    width: 100%;
}

#links a {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 2.5rem;
    display: block;
    background: -webkit-linear-gradient(35deg, rgb(85, 208, 224), rgb(166, 89, 253));
    width: 100%;
}

#links.pink a {
    background: -webkit-linear-gradient(35deg, rgb(196, 85, 224), rgb(114, 50, 235));
}

#links a:hover {
    transform: translateX(1rem);
}

.bars main>p {
    margin: 1rem;
}

.bars :is(h2, h3, h4) {
    color: white;
    padding: 0.3em 0.5rem;
    transform: skewX(-8deg);
    border-radius: 0.2rem;
}

.bars h2 {
    margin: 0.6rem 0;
    margin-top: 2.4rem;
    background: -webkit-linear-gradient(35deg, rgb(196, 85, 224), rgb(114, 50, 235));
}

.bars h3 {
    margin: 0.4rem 0.3rem;
    background: -webkit-linear-gradient(35deg, rgb(78, 206, 199), rgb(69, 50, 235));
}

.bars h4 {
    margin: 0.4rem 0.6rem;
    background: -webkit-linear-gradient(35deg, rgb(236, 155, 89), rgb(235, 62, 50));
}

main a {
    /* color: black; */
    color: inherit;
    border-radius: 0.15rem 0.15rem 0 0;
    padding: 0.2em;
    border-bottom: solid purple 0.1em;
    text-decoration: none;
}

main a:hover {
    background: -webkit-linear-gradient(35deg, rgba(30, 156, 173, 0.404), rgba(105, 21, 201, 0.329));
}

main :is(h1, h2, h3, h4, h5, h6) a {
    padding: 0;
    border-bottom: none;
}

main :is(h1, h2, h3, h4, h5, h6) a:hover {
    background: none;
    text-decoration: underline;
}

main p {
    line-height: 1.8em;
}

li h1, li h2, li h3 {
    margin: 0.4em 0;
}

/* .table-of-contents {
}
.table-of-contents > ol {
    text-align: center;
    line-height: 2.2em;
    padding: 0;
    max-width: 100%;
    display: inline;
    overflow: hidden;
}
.table-of-contents li {
    display: inline;
}
.table-of-contents li a {
    margin: 0.5em;
    white-space: nowrap;
} */

.table-of-contents, .grid-list {
    padding: 0.5rem;
    width: 100%;
}

.table-of-contents ol, .grid-list {
    list-style: none;
    width: 100%;
    padding: 0 1em;
}

.table-of-contents>ol, .grid-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.table-of-contents>ol>li, .grid-list>li {
    background: rgba(0, 0, 0, 0.02);
    flex-grow: 1;
    flex-basis: 40%;
    min-width: 20em;
    padding: 1em;
    margin: 0.1rem;
    /* min-width: calc(50%-1em); */
    /* padding: 0.5em; */
    /* margin: 0.5em; */
}

.table-of-contents>ol>li>a {
    text-align: center;
    display: block;
    font-weight: bold;
}

.table-of-contents li, .grid-list li, li {
    line-height: 1.8em;
}

.dash-list {
    padding: 0;
    text-align: center;
}

.dash-list li {
    display: inline-block;
    margin: 0.3em;
    overflow-wrap: normal;
}

table {
    margin: 0 auto;
    border-spacing: 0;
}

thead {
    background: -webkit-linear-gradient(35deg, rgb(93, 228, 221), rgb(170, 162, 240));
}

td, th {
    padding: 0.5em;
}

tr:nth-child(even) {
    background: rgba(5, 139, 180, 0.233);
}

.quote {
    background: rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin: 1em;
}

.center {
    text-align: center;
}

img {
    max-width: 100%;
}

.pad {
    padding: 0.5em 3em;
    /* padding-top: 1; */
}

.sml {
    max-width: 15em;
}

h3 input {
    display: none;
}

table {
    margin: 1rem auto;
}

@media print {
    .table-of-contents {
        display: none;
    }
}

/* Increase padding left subheadings */

/* permalink headers mardown */

/* more top padding main header */

/* Java Grant's activites */

/* Dark mode? */

thead * {
    text-align: left;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.gallery * {
    min-width: 5rem;
    max-width: 20rem;
    max-height: 10rem;
    min-height: 5rem;
}

.goto-top {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    border-bottom: none;
    z-index: 100;
    font-size: 1.5rem;
}

.block-list {
    padding: 0;
}

.block-list>* {
    list-style: none;
}

.block-list>*>* {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.block-list>*>*>li {
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin: 0.25rem;
    flex-grow: 1;
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
}

.block-list>*>*>li:nth-child(6n+1) {
    background: rgba(255, 0, 0, 0.2);
}

.block-list>*>*>li:nth-child(6n+2) {
    background: rgba(255, 255, 0, 0.3);
}

.block-list>*>*>li:nth-child(6n+3) {
    background: rgba(0, 255, 0, 0.2);
}

.block-list>*>*>li:nth-child(6n+4) {
    background: rgba(0, 255, 255, 0.2);
}

.block-list>*>*>li:nth-child(6n+5) {
    background: rgba(0, 0, 255, 0.2);
}

.block-list>*>*>li:nth-child(6n+6) {
    background: rgba(255, 0, 255, 0.2);
}

.block-list li ul ul {
    padding-left: 1.3rem;
}