nav
  .title
    a(href="/")
      img#java(src="/static/java.jpg", alt="Java")
    div
      h1 #[a(href="/") Java Grant]
      h3 Kia ora.
  ul
    li
      a(href="/") Blog
    li
      a(href="/blog/resume") Resume
    li
      a(href="/art") Art
    li
      a(href="/photography") Photography
    li
      a(href="https://twitter.com/thatdudejava" target="_blank") Twitter
    li
      a(href="https://instagram.com/orangejaffas" target="_blank") Instagram
    li
      a(href="https://youtube.com/javagrant" target="_blank") YouTube
    li
      a(href="https://twitch.tv/watermistz" target="_blank") Twitch