extends ./main.pug
block content
  h1 Welcome.
  p.center.
    I am Java, these are my blogs!
  .grid
    for blog in blogs
      if (!blog.data.hidden)
        a.blog.tile(href='/blog/'+blog.data.slug)
          h1=(blog.data.title || blog.data.slug)
          p=blog.data.description
          if (blog.data.image)
            img(src=blog.data.image)

