- if (!config) config = {}
doctype html
head
  meta(charset='utf-8')
  title=(config.title?'JG. '+config.title:'Java Grant')
  meta(name='description' content=config.description)
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/static/style.css')
  script(async src='https://www.googletagmanager.com/gtag/js?id=G-BJMGN2YH5Z')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-BJMGN2YH5Z');
  script(src="/static/background.js")

body
  header
      include header.pug
  main
    if config.tableofcontents
      a#toc(href="#table-of-contents") Back to index ⬆️
    block content