extends ./template/main.pug
block content
  #links
    a(href='/art')
      | see art
    a(href='/contact')
      | get in touch
    a(href='/thoughts')
      | read thoughts
    a(href='/resume')
      | accomplishments