@import "./scrollbar";
body {
  overflow-y: scroll;
}
* {
  box-sizing: border-box;
}
.center {
  text-align: center;
}
html {
  font-family: Helvetica, sans-serif;
  max-width: 90em;
  margin: 0 auto;
  // margin: 1em;
  // margin: unquote("0 max(1rem, 10vw)");
}
h1,
h2,
h3,
h4,
h5.h6 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
nav {
  user-select: none;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  > * {
    display: inline-block;
    text-align: center;
    flex-grow: 1;
  }
  .title {
    // flex-grow: 0;
    // position: relative;
    // > * {
    //   display: inline-block;
    // }
    // div {
    //   margin: 0 1rem;
    // }
    #java {
      // max-height: 6rem;
      // border-radius: 20%;
      // box-shadow: #00aeff 0.3rem 0.3rem 0px, #ae00ff -0.3rem 0.1rem 0px,
        // #ffae00 0.2rem -0.3rem 0;
      // border: 0.05rem solid #fff;
      max-width: 6rem;
      margin: 0 2rem;
    }
  }
  a {
    color: black;
    text-decoration: underline;
    text-decoration-color: lightgrey;
    &:hover {
      text-decoration-color: black;
    }
  }
  h1 a:hover {
    text-decoration: dashed underline;
  }
  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 0.3rem 1rem;
    }
  }
  ul#social {
    right: 0;
    li {
      padding: 0.2rem;
      // line-height: 1.7em;
      a {
        display: inline-block;
        img {
          filter: grayscale(1);
          width: 1em;
          height: 1em;
          display: inline-block;
        }
      }
    }
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  .tile {
    display: inline-block;
    height: 20em;
    width: 20em;
    border: 1px solid darkgrey;
    margin: 0.3rem;
    padding: 1rem;
    text-decoration: none;
    background-color: rgba(0,0,0,0.05);
    transition: transform 0.2s, background 2s;
    position: relative;
    overflow: hidden;
    &::after {
      content: '→';
      // top: 0;
      bottom: 1rem;
      opacity: 0;
      position: absolute;
      transition: transform 4s, opacity 2s;
      transform: translateX(-100%);
      display: inline-block;
      text-align: center;
      font-size: 2rem;
    }
    &:hover {
      background-color: rgba(0,0,0,0);
      transform: translateY(-0.2rem);
      &::after {
        transform: translateX(50%);
        opacity: 0.5;
      }
    }
  }
}

a,
a:visited,
a:hover,
a:focus,
a:hover, a:active { text-decoration: none; color:inherit }

#email-list {
  input {
    border: 1px solid grey;
    border-radius: 0;
    background: none;
    color: black;
    text-transform: uppercase;
    padding: 1em;
    &:focus, &:active {
      border: 1px solid black;
      border-radius: 0;
      outline: none;
    }
  }
}