<!DOCTYPE html>
html(lang="en")
  head
    link(rel="stylesheet", href="/main.css")
    link(rel="stylesheet", href="/markdown.css")
    meta(name="viewport" content="width=device-width initial-scale=1.0")

    block head
      title Java Grant - #{title}
    //- block scripts
      //- script(src='/jquery.js')
  body
    .grid.banner
      .gradient
      .item
        h2
          a(href="/") Java Grant
        strong Kia Ora.
      .item
        div
          a(href="/") blog
          a(href="/photography") photography
          a(href="/blog/resume") resume
        div
          a(href="https://www.twitter.com/thatdudejava" target="_blank") twitter
          a(href="https://www.instagram.com/orangejaffas" target="_blank") instagram
          a(href="https://www.youtube.com/javagrant" target="_blank") youtube
          a(href="https://www.twitch.tv/watermistz" target="_blank") twitch
    block content
    //- block foot
    //-   #footer
    //-     p some footer content
