::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 0px;
}

* {
    box-sizing: border-box;
    /* margin: 0; */
}

*::selection {
    color: rgb(54, 0, 90);
    background-color: rgba(67, 0, 112, 0.15);
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(248, 248, 248);
    margin: 0;
}

#title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: max(min(4rem, 10vw), 1.5em);
    margin: 0;
    padding: min(3rem, 22vh) 1rem;
    display: block;
    color: black;
}
/* a,
a:active,
a:visited {
    color: inherit;
} */

#roller {
    background: -webkit-linear-gradient(30deg, rgb(85, 208, 224), rgb(166, 89, 253));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#roller::after {
    content: '.';
}
main {
    flex-grow: 1;
    padding: 1rem;
    max-width: 50em;
    width: 100%;
    margin: 0 auto;
}

#links {
    width: 100%;
}

#links a {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 2.5rem;
    display: block;
    background: -webkit-linear-gradient(35deg, rgb(85, 208, 224), rgb(166, 89, 253));
    width: 100%;
}
#links.pink a {
    background: -webkit-linear-gradient(35deg, rgb(196, 85, 224), rgb(114, 50, 235));
}
#links a:hover {
    transform: translateX(1rem);
}
.bars h2 {
    color: white;
    padding: 0.3em 0.5rem;
    background: -webkit-linear-gradient(35deg, rgb(196, 85, 224), rgb(114, 50, 235));
    transform: skewX(-8deg);
}
.bars h3 {
    color: white;
    padding: 0.3em 0.5rem;
    background: -webkit-linear-gradient(35deg, rgb(78, 206, 199), rgb(69, 50, 235));
    transform: skewX(-8deg);
}
.bars h4{
    color: white;
    padding: 0.3em 0.5rem;
    background: -webkit-linear-gradient(35deg, rgb(236, 155, 89), rgb(235, 62, 50));
    transform: skewX(-8deg);
}
main a {
    /* color: black; */
    color: inherit;
    padding: 0.2em;
    border-bottom: solid purple 0.1em;
    text-decoration: none;
}
main a:hover {
    background: -webkit-linear-gradient(35deg, rgba(30, 156, 173, 0.404), rgba(105, 21, 201, 0.329));
}
main p {
    line-height: 1.8em;
}
li h1,
li h2,
li h3 {
    margin: 0.4em 0;
}
/* .table-of-contents {
}
.table-of-contents > ol {
    text-align: center;
    line-height: 2.2em;
    padding: 0;
    max-width: 100%;
    display: inline;
    overflow: hidden;
}
.table-of-contents li {
    display: inline;
}
.table-of-contents li a {
    margin: 0.5em;
    white-space: nowrap;
} */
.table-of-contents,
.grid-list {
    padding: 0.5rem;
    width: 100%;
}
.table-of-contents ol,
.grid-list {
    list-style: none;
    width: 100%;
    padding: 0 1em;
}
.table-of-contents > ol,
.grid-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.table-of-contents > ol > li,
.grid-list > li {
    background: rgba(0, 0, 0, 0.068);
    flex-grow: 1;
    flex-basis: 40%;
    min-width: 20em;
    padding: 1em;
    margin: 0.1rem;
    /* min-width: calc(50%-1em); */
    /* padding: 0.5em; */
    /* margin: 0.5em; */
}
.table-of-contents > ol > li > a {
    text-align: center;
    display: block;
    font-weight: bold;
}
.table-of-contents li,
.grid-list li, li {
    line-height: 1.8em;
}

.dash-list {
    padding: 0;
    text-align: center;
}
.dash-list li {
    display: inline-block;
    margin: 0.3em;
    overflow-wrap: normal;
}

table {
    margin: 0 auto;
    border-spacing: 0;
}
thead {
    background: -webkit-linear-gradient(35deg, rgb(93, 228, 221), rgb(170, 162, 240));
}
td, th {
    padding: 0.5em;
}
tr:nth-child(even) {
    background: rgba(5, 139, 180, 0.233);
}
.quote {
    background: rgba(0,0,0,0.1);
    padding: 1em;
    margin: 1em;
}
.center {
    text-align: center;
}
img {
    max-width: 100%;
}
.pad {
    padding: 0.5em 3em;
    /* padding-top: 1; */
}
.sml {
    max-width: 15em;
}
h3 input {
    display: none;
}
h3:has(> input) + * {
    display: none;
}
h3:has(> input:checked) + * {
    display: block;
}